Chick-Magnet/Temp
Chick-Magnet/Obj
Chick-Magnet/Library
*.userprefs
*.csproj
*.unityproj
*.sln
*.userprefs
*.mov
Chick-Magnet/Assets/Characters/Chick/ChickModelv2.prefab
Chick-Magnet/Assets/Animators/furby.controller
Chick-Magnet/Assets/Characters/Chick/ChickModelv2.prefab
Chick-Magnet/Assets/Materials/woodTexture.mat
Chick-Magnet/Assets/Props/CargoDoor/Materials/lambert3.mat
Chick-Magnet/Assets/Props/CargoDoor/Materials/metalDoorTexture.mat
Chick-Magnet/Assets/Props/CubeToys/Materials/diceMagnetToy.mat
Chick-Magnet/Assets/Props/Materials/lambert1.mat
Chick-Magnet/Assets/Animators/furby.controller
Chick-Magnet/Assets/Characters/Chick/ChickModelv2.prefab
Chick-Magnet/Assets/Materials/woodTexture.mat
Chick-Magnet/Assets/Characters/Chick/ChickModelv2.prefab
Chick-Magnet/Assets/Props/CargoDoor/Materials/metalDoorTexture.mat
Chick-Magnet/Assets/Props/CubeToys/Materials/diceMagnetToy.mat
Chick-Magnet/Assets/Props/Materials/lambert1.mat
